* {
    -webkit-box-sizing: border-box;
    box-sizing: border-box;
}
html {
    font-size: 10px;
    height: 100%;
}
body {
    margin: 20px;
    background: url(../img/ios7bg.jpg) right center no-repeat;
    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    /* background-size: cover; */
}
h1 {
    position: relative;
    width: 29rem;
    margin: 0 auto 2rem auto;
    font-family:"Helvetica Neue", "Lato", sans-serif;
    font-size: 4rem;
    font-weight: 100;
    color: white;
    text-align: right;
    transition: all 0.3s;
}
button {
    outline: none;
}
.board {
    position: relative;
    width:29rem;
    margin: auto;
    overflow: hidden;
}
.row {
    position: relative;
    width:100%;
    height: 4.5rem;
    margin-bottom: 1.5rem;
}
.selector {
    position: relative;
    width:100%;
    height:6rem;
    background-color: rgba(255, 255, 255, 0.7);
    padding: 1.5rem;
    border-radius: 2rem 2rem 0 0;
}
.actions {
    background-color: rgba(255, 255, 255, 0.7);
    text-align: center;
    height: 4.5rem;
    width:29rem;
    border-radius: 0 0 2rem 2rem;
    border-top: 1px solid rgba(186, 195, 216, 1);
    overflow: hidden;
}
.actions .button {
    height: 4.5rem;
    background-color: transparent;
    /* border-radius: 3px; */
    border: none;
    font-size: 1.6rem;
    color: #0B85FF;
    cursor: pointer;
    font-weight: 300;
    font-family:"Helvetica Neue", "Lato", sans-serif;
}
.actions .button:hover {
    background-color: rgba(20, 77, 150, 0.2);
    color: #FFFFFF;
}
.actions .button[disabled] {
    background-color: transparent;
    color: rgba(20, 77, 150, 0.37);
    cursor: default;
}
.actions .button.restart {
    position: absolute;
    left: 0;
    width: 7rem;
    border-right: 1px solid rgba(186, 195, 216, 1);
    border-radius: 0 0 0 2rem;
}
.actions .button.undo {
    position: absolute;
    left: 7rem;
    width: 7rem;
    border-right: 1px solid rgba(186, 195, 216, 1);
}
.actions .button.guess {
    position: absolute;
    right: 0;
    width: 15rem;
    border-radius: 0 0 2rem 0;
}
.row:first-child {
    border-bottom: 1px solid rgba(255, 255, 255, 0.3);
    height: 6rem;
}
.row:first-child .peg.hidden {
    border: 1px solid rgba(255, 255, 255, 0.3);
}
.row:first-child .peg {
    background: none;
}
.row.active .peg.code {
    border: 1px solid white;
    background: none;
}
.peg {
    position: absolute;
    border-radius: 28%;
    transition:all 0.3s;
    display: block;
    overflow: hidden;
    border: 2px solid white;
    border-width: 0;
}
.peg:before {
    content:"";
    display: block;
    top:0;
    right:0;
    bottom: 0;
    left: 0;
    position: absolute;
    opacity: 0;
    transition:all 0.3s;
    border-radius: 26%;
}
.selector .peg {
    margin: auto;
    width:3rem;
    height:3rem;
    top:1.5rem;
    cursor: pointer;
    border: none;
    border-radius: 50%;
}
.selector .peg:after {
    content:"";
    display: block;
    top:0;
    right:0;
    bottom: 0;
    left: 0;
    position: absolute;
    opacity: 0;
    transition:all 0.3s;
    border-radius: 50%;
    background-color: black;
}
.selector .peg[disabled] {
    opacity: 0.4;
}
.selector .peg:hover {
    box-shadow: none;
}
.selector .peg:hover:after {
    opacity: 0.2;
}
.selector .peg[disabled]:hover {
    cursor: default;
    box-shadow: inset 0 0 0 0.5rem #fafafa;
}
.peg.code {
    height: 4.5rem;
    width: 4.5rem;
    background-color: rgba(255, 255, 255, 0.3);
}
.peg.feedback {
    height: 1rem;
    width: 1rem;
    border-radius: 50%;
    -webkit-transform: scaleX(0) scaleY(0);
    -moz-transform: scaleX(0) scaleY(0);
    -ms-transform: scaleX(0) scaleY(0);
    -o-transform: scaleX(0) scaleY(0);
    transform: scaleX(0) scaleY(0);
}
.row .peg:nth-child(1) {
    top: 0;
    left: 6.5rem;
}
.row .peg:nth-child(2) {
    top: 0;
    left: 12.5rem;
}
.row .peg:nth-child(3) {
    top: 0;
    left: 18.5rem;
}
.row .peg:nth-child(4) {
    top: 0;
    left: 24.5rem;
}
.row .peg:nth-child(5) {
    top: 50%;
    left: 0;
    margin-top: -0.5rem;
}
.row .peg:nth-child(6) {
    top: 50%;
    left: 1.3rem;
    margin-top: -0.5rem;
}
.row .peg:nth-child(7) {
    top: 50%;
    left: 2.6rem;
    margin-top: -0.5rem;
}
.row .peg:nth-child(8) {
    top: 50%;
    left: 3.9rem;
    margin-top: -0.5rem;
}
.selector .peg:nth-child(1) {
    left:1.5rem;
}
.selector .peg:nth-child(2) {
    left:6rem;
}
.selector .peg:nth-child(3) {
    left:10.5rem;
}
.selector .peg:nth-child(4) {
    left:15rem;
}
.selector .peg:nth-child(5) {
    left:19.5rem;
}
.selector .peg:nth-child(6) {
    left:24rem;
}
.peg.colorOK {
    border-color: white;
    border-width: 0.2rem;
    -webkit-transform: scaleX(1) scaleY(1);
    -moz-transform: scaleX(1) scaleY(1);
    -ms-transform: scaleX(1) scaleY(1);
    -o-transform: scaleX(1) scaleY(1);
    transform: scaleX(1) scaleY(1);
}
.peg.positionOK {
    background-color: white;
    border-color: white;
    border-width: 0.2rem;
    -webkit-transform: scaleX(1) scaleY(1);
    -moz-transform: scaleX(1) scaleY(1);
    -ms-transform: scaleX(1) scaleY(1);
    -o-transform: scaleX(1) scaleY(1);
    transform: scaleX(1) scaleY(1);
}
.peg.red:before {
    background-color:#FC1F64;
    background: -webkit-gradient(linear, left top, left bottom, from(#FC1F64), to(#FF5331));
    background: -webkit-linear-gradient(top, #FC1F64, #FF5331);
    background: -moz-linear-gradient(top, #FC1F64, #FF5331);
    background: -ms-linear-gradient(top, #FC1F64, #FF5331);
    background: -o-linear-gradient(top, #FC1F64, #FF5331);
    opacity: 1;
}
.peg.orange:before {
    background-color:#FF6D02;
    background: -webkit-gradient(linear, left top, left bottom, from(#FF6D02), to(#FF9600));
    background: -webkit-linear-gradient(top, #FF6D02, #FF9600);
    background: -moz-linear-gradient(top, #FF6D02, #FF9600);
    background: -ms-linear-gradient(top, #FF6D02, #FF9600);
    background: -o-linear-gradient(top, #FF6D02, #FF9600);
    opacity: 1;
}
.peg.yellow:before {
    background-color:#FFC200;
    background: -webkit-gradient(linear, left top, left bottom, from(#FFC200), to(#FFEA07));
    background: -webkit-linear-gradient(top, #FFC200, #FFEA07);
    background: -moz-linear-gradient(top, #FFC200, #FFEA07);
    background: -ms-linear-gradient(top, #FFC200, #FFEA07);
    background: -o-linear-gradient(top, #FFC200, #FFEA07);
    opacity: 1;
}
.peg.green:before {
    background-color:#0ED41B;
    background: -webkit-gradient(linear, left top, left bottom, from(#0ED41B), to(#7FFE69));
    background: -webkit-linear-gradient(top, #0ED41B, #7FFE69);
    background: -moz-linear-gradient(top, #0ED41B, #7FFE69);
    background: -ms-linear-gradient(top, #0ED41B, #7FFE69);
    background: -o-linear-gradient(top, #0ED41B, #7FFE69);
    opacity: 1;
}
.peg.blue:before {
    background-color:#1E66EC;
    background: -webkit-gradient(linear, left top, left bottom, from(#1E66EC), to(#1BB2F9));
    background: -webkit-linear-gradient(top, #1E66EC, #1BB2F9);
    background: -moz-linear-gradient(top, #1E66EC, #1BB2F9);
    background: -ms-linear-gradient(top, #1E66EC, #1BB2F9);
    background: -o-linear-gradient(top, #1E66EC, #1BB2F9);
    opacity: 1;
}
.peg.purple:before {
    background-color:#C639FF;
    background: -webkit-gradient(linear, left top, left bottom, from(#C639FF), to(#EC4BB5));
    background: -webkit-linear-gradient(top, #C639FF, #EC4BB5);
    background: -moz-linear-gradient(top, #C639FF, #EC4BB5);
    background: -ms-linear-gradient(top, #C639FF, #EC4BB5);
    background: -o-linear-gradient(top, #C639FF, #EC4BB5);
    opacity: 1;
}
.peg.hidden {
    background-color: #ddd;
    border-color: #ddd;
}
.messageBox {
    position: absolute;
    height: 75rem;
    background-color: rgba(0, 0, 0, 0.61);
    background: -webkit-gradient(linear, left top, left bottom, from(#0ED41B), to(#7FFE69));
    background: -webkit-linear-gradient(top, rgba(0, 0, 0, 5.9), rgba(0, 0, 0, 0));
    background: -moz-linear-gradient(top, #0ED41B, #7FFE69);
    background: -ms-linear-gradient(top, #0ED41B, #7FFE69);
    background: -o-linear-gradient(top, #0ED41B, #7FFE69);
    border-radius: 0.3rem;
    top: 0;
    left: 0;
    right: 0;
    opacity: 0;
    vertical-align: middle;
    text-align: center;
    transition: all 0.3s;
}
.messageBox.visible {
    opacity:1;
}
p.message {
    font-family:"Helvetica Neue", "Lato", sans-serif;
    font-weight: 100;
    font-size: 6rem;
    line-height: 3rem;
    color: #D2D7DC;
    vertical-align: middle;
}