* {
    -webkit-box-sizing: border-box;
    box-sizing: border-box;
}
html {
    font-size: 10px;
}
body {
    margin: 20px;
}
h1 {
    position: relative;
    width: 29rem;
    margin: auto;
    font-family:"Open Sans", sans-serif;
    font-size: 5.3rem;
    font-weight: 300;
    color: #789;
}
button {
    outline: none;
}
.board {
    position: relative;
    width:29rem;
    margin: auto;
    overflow: hidden;
    border-radius: 3px;
}
.row {
    position: relative;
    width:100%;
    height:6.5rem;
    background-color:#eee;
    border-top: 1px solid #e5e5e5;
}
.selector {
    position: relative;
    width:100%;
    height:6rem;
    background-color:#fafafa;
    border-top: 1px solid #ddd;
    padding: 1.5rem;
}
.actions {
    background-color:#fafafa;
    text-align: center;
    height: 4.5rem;
    width:29rem;
}
.actions .button {
    height: 3rem;
    background-color: #fafafa;
    border-radius: 3px;
    border: none;
    font-family:"Open Sans", sans-serif;
    font-size: 1.6rem;
    color: #708090;
    cursor: pointer;
}
.actions .button:hover {
    background-color: #ddd;
    color: #4D5863;
}
.actions .button[disabled] {
    background-color: #fafafa;
    color: #d9d9d9;
    cursor: default;
}
.actions .button.restart {
    position: absolute;
    left: 1.5rem;
    width: 5rem;
}
.actions .button.undo {
    position: absolute;
    left: 7.5rem;
    width: 5rem;
}
.actions .button.guess {
    position: absolute;
    right: 1.5rem;
    width: 14rem;
}
.row:first-child {
    background-color: #fafafa;
    border:none;
}
.row:first-child .peg {
    box-shadow: inset 0 0 0 0.5rem #fafafa;
}
.row.active .peg.code {
    border: 1px solid #999;
}
.peg {
    position: absolute;
    border-radius: 50%;
    background-color: #eee;
    border: 1px solid #ccc;
    box-shadow: none;
    transition:all 0.3s;
}
.selector .peg {
    margin: auto;
    width:3rem;
    height:3rem;
    top:1.5rem;
    box-shadow: inset 0 0 0 0.5rem #fafafa;
    cursor: pointer;
}
.selector.disabled .peg {
    opacity: 0.4;
}
.selector .peg:hover {
    box-shadow: none;
}
.selector.disabled .peg:hover {
    cursor: default;
    box-shadow: inset 0 0 0 0.5rem #fafafa;
}
.peg.code {
    height: 4.5rem;
    width: 4.5rem;
}
.peg.feedback {
    height: 2rem;
    width: 2rem;
}
.row .peg:nth-child(1) {
    top:1rem;
    left:8rem;
}
.row .peg:nth-child(2) {
    top:1rem;
    left:13rem;
}
.row .peg:nth-child(3) {
    top:1rem;
    left:18rem;
}
.row .peg:nth-child(4) {
    top:1rem;
    left:23rem;
}
.row .peg:nth-child(5) {
    top:1rem;
    left:1.5rem;
}
.row .peg:nth-child(6) {
    top:1rem;
    left:4rem;
}
.row .peg:nth-child(7) {
    top:3.5rem;
    left:1.5rem;
}
.row .peg:nth-child(8) {
    top:3.5rem;
    left:4rem;
}
.selector .peg:nth-child(1) {
    left:1.5rem;
}
.selector .peg:nth-child(2) {
    left:6rem;
}
.selector .peg:nth-child(3) {
    left:10.5rem;
}
.selector .peg:nth-child(4) {
    left:15rem;
}
.selector .peg:nth-child(5) {
    left:19.5rem;
}
.selector .peg:nth-child(6) {
    left:24rem;
}
.peg.colorOK {
    border-color:#708090;
    border-width: 0.2rem;
    box-shadow: inset 0 0 0 0.4rem #eee;
}
.peg.positionOK {
    background-color:#708090;
    border-color:#708090;
    border-width: 0.2rem;
    box-shadow: inset 0 0 0 0.4rem #eee;
}
.peg.red {
    background-color:#DC4437;
    border-color:#DC4437;
    box-shadow: inset 0 0 0 0.5rem #eee;
}
.peg.orange {
    background-color:#F0851D;
    border-color:#F0851D;
    box-shadow: inset 0 0 0 0.5rem #eee;
}
.peg.yellow {
    background-color:#F5B400;
    border-color:#F5B400;
    box-shadow: inset 0 0 0 0.5rem #eee;
}
.peg.green {
    background-color:#34B67A;
    border-color:#34B67A;
    box-shadow: inset 0 0 0 0.5rem #eee;
}
.peg.blue {
    background-color:#1C90BF;
    border-color:#1C90BF;
    box-shadow: inset 0 0 0 0.5rem #eee;
}
.peg.purple {
    background-color:#7E3795;
    border-color:#7E3795;
    box-shadow: inset 0 0 0 0.5rem #eee;
}
.peg.hidden {
    background-color: #ddd;
    border-color: #ddd;
}
.messageBox {
    position: absolute;
    width:35rem;
    height: 15rem;
    background-color: rgba(112, 128, 144, 0.8);
    border-radius: 0.3rem;
    top: 50%;
    left: 50%;
    margin-left: -17.5rem;
    margin-top: -7.5rem;
    opacity: 0;
    vertical-align: middle;
    text-align: center;
    transition: all 0.3s;
}
.messageBox.visible {
    opacity:1;
}
p.message {
    font-family:'Open Sans';
    font-weight:300;
    font-size: 6rem;
    line-height: 2rem;
    color: #D2D7DC;
    vertical-align: middle;
}
